<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{htmlWebpackPlugin.options.title}}</title>
	</head>
	<body>

		<div class="wrapper">
			<header>
				<ul class="menu">
					<li class="menu__item">Add column</li>
					<li class="menu__item">Add row</li>
					<li class="menu__item">Delete row</li>
					<li class="menu__item">Delete column</li>
					<li class="menu__item">History</li>
					<li class="menu__item">New table</li>

				</ul>
			</header>

			{{> "./src/templates/content.hbs"}}

		</div>

	</body>
</html>
